@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* https://github.com/mladenplavsic/css-ripple-effect */
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ccc 10%, transparent 10%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.25s, opacity 1s;
}

.ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

:root {
    --r-alliance: #ED1C24;
    --b-alliance: #0066B3;
    --white: #ffffff;
}

body {
    color: var(--white);
    background-color: var(--r-alliance);
    text-align: center;
    transition: background-color 0.25s ease;
    padding: 10px;
    font-family: Nunito;
    letter-spacing: 3px;
}

html, body {
    overscroll-behavior: none;
    user-select: none;
}

button {
    color: var(--white);
    background-color: rgb(128, 128, 128);
    border-width: 0px;
    border-radius: 5px;
    opacity: 100%;
    transition: opacity 150ms ease;
    font-size: 20px;
    font-family: Nunito;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 15px;
}

button:hover {
    opacity: 75%;
}

#Reset_btn {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: transparent;
}

#Vibrate_btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
}

#WinAutoNo {
    display: inline-block;
    position: relative;
    bottom: -5px;
}

#WinAutoYes {
    display: none;
    position: relative;
    bottom: -5px;
}

#Start_btn, #Pause_btn, #WinAutoToggle, #AllianceToggle {
    height: 100px;
    aspect-ratio: 2;
    outline: 2px solid white;
}

#info {
    margin: -20px 20px;
}

#info h1 {
    margin-top: 25px;
}

#info p {
    margin-top: -20px;
}


@media (pointer: coarse) and (orientation: portrait) {
    .controls button {
        max-width: 150px;
    }
}

@media (pointer: coarse) and (orientation: landscape) {
    body {
        display: flex;
        flex-direction: row;
    }

    .controls {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 10px
    }
}
